{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">Proxy Rate Limit</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">VHost</th>
            <td>
              {% if object.vhost %}
                <a href="{{ object.vhost.get_absolute_url }}">{{ object.vhost }}</a>
              {% else %}
                {{ ''|placeholder }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Zone Name</th>
            <td>{{ object.zone_name|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Key</th>
            <td><code>{{ object.key|placeholder }}</code></td>
          </tr>
          <tr>
            <th scope="row">Rate</th>
            <td>{{ object.rate }}</td>
          </tr>
          <tr>
            <th scope="row">Burst</th>
            <td>{{ object.burst }}</td>
          </tr>
          <tr>
            <th scope="row">Nodelay</th>
            <td>{% if object.nodelay %}<span class="text-success">Yes</span>{% else %}<span class="text-muted">No</span>{% endif %}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/custom_fields_panel.html' %}
    {% include 'inc/tags_panel.html' %}
  </div>
  <div class="col col-md-6">
    {% include 'inc/comments_panel.html' %}
  </div>
</div>
{% endblock content %}
